html,body {
    height: auto;
    width: auto;
}

#loadingScreen {
    height: 100vh;
    width: 100vw;
    background-image: url("space_invaders.png");
    -webkit-background-size: 50%;
    -moz-background-size: 50%;
    -o-background-size: 50%;
    background-size: 50%;
    background-repeat: repeat;
}

#heartLogo {
    width: 100%;
    position: relative;
    top: 50%;
}