html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#loadingScreen {
    width: 100%;
    height: 100%;
    background-color: #FEDC3D;
    position: relative;
}

#heartLogo {
    width: 100%;
    position: absolute;
    top: 50%;
}